[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/lib/jenkins/workspace/career_backend
ExecStart=/var/lib/jenkins/workspace/career_backend/venv/bin/gunicorn --workers 3 \
          --log-level debug \
          --error-logfile /var/lib/jenkins/workspace/career_backend/error.log \
          --capture-output \
          --bind unix:/run/gunicorn.sock src.wsgi:application

[Install]
WantedBy=multi-user.target
