{% extends 'base.html' %}
{% block content %}
<tr>
  <td style="padding: 20px; text-align: left; color: #333;">
    <p style="font-size: 18px;">Dear <strong>{{ applicant.first_name }}</strong>,</p>
    <p>I hope this email finds you well.</p>
    <p>
      Attached below are the details of the assignment for the job post of <strong>{{ applicant.job_template.title }}</strong>.
      Kindly submit the assignment before <strong>{{ applicant.job_template.deadline }}</strong>.
    </p>
    <p>Your Application ID : <strong>{{ applicant.application_id }}</strong></p>
    
    <h3 style="color: #333; font-size: 16px; margin-top: 20px;">Assignment Objective :</h3>
    <p>
      {{ objective }}
    </p>

    <p><h3 style="color: #333; font-size: 16px; margin-top: 20px;">Assignment Details :</h3><a href="https://career.mutaengine.cloud/career/{{ applicant.job_template.id }}/assignment-details" style="color: #007bff; text-decoration: none;">https://career.mutaengine.cloud/career/{{ applicant.job_template.id }}/assignment-details</a></p>
    <p style="text-align: center; margin: 20px 0;">
      <a href="https://career.mutaengine.cloud/career/{{ applicant.job_template.id }}/assignment-details" style="text-decoration: none;">
        <button style="padding: 12px 24px; font-size: 16px; color: #ffffff; background-color: #6200ea; border: none; border-radius: 5px; cursor: pointer;">
          Go to Assignment
        </button>
      </a>
    </p>
  </td>
</tr>

<tr>
  <td style="padding: 20px; text-align: left; color: #333; border-top: 1px solid #ddd;">
    <p>Best Regards,<br>HR <strong>@{{ company.name }}</strong></p>
  </td>
</tr>
{% endblock %}
