{% extends 'base.html' %}
{% block content %}
  <tr>
    <td style="padding: 20px; text-align: left; color: #333;">
      <p style="font-size: 18px;"><strong>Subject:</strong> Welcome to MutaEngine - Offer Letter Received.</p>
      <p>Dear <strong>{{ applicant.first_name }} {{ applicant.last_name }}</strong>,</p>
      <p>
        We are pleased to confirm that we have successfully received your signed offer letter. Welcome to the {{ company.name }} family! We are excited to have you on board as our <strong>{{ applicant.job_template.title }}</strong> and look forward to seeing the great work you will contribute to our innovative projects.
      </p>
      <p>
        Your journey with us will begin under the guidance of your team manager, <strong>{{ applicant.manager.first_name }} {{ applicant.manager.last_name }}</strong>, who will help you get started with your responsibilities and ensure a smooth onboarding process.
      </p>
      <p>
        In the coming days, you will receive further information regarding your start date, onboarding procedures, and other details to help you settle in.
      </p>

      <p>Welcome aboard once again, and we can't wait to see you grow with us.</p>
    </td>
  </tr>

  <tr>
    <td style="padding: 20px; text-align: left; color: #333; border-top: 1px solid #ddd;">
      <p>Best Regards,<br>{{ applicant.manager.first_name }} {{ applicant.manager.last_name }}<br>Hiring Manager <strong>@{{ company.name }}</strong></p>
    </td>
  </tr>
{% endblock %}
